<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>522861203555-47qe2g4fiftcb2mh4mq7aqg7d5d20er2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522861203555-47qe2g4fiftcb2mh4mq7aqg7d5d20er2</string>
	<key>API_KEY</key>
	<string>AIzaSyDauDLcNWl6cX8wfBXY6m64d9RSqYb3nsc</string>
	<key>GCM_SENDER_ID</key>
	<string>522861203555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justalabindia.populardoctordev</string>
	<key>PROJECT_ID</key>
	<string>populardoctor-f4673</string>
	<key>STORAGE_BUCKET</key>
	<string>populardoctor-f4673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522861203555:ios:ade2a8c3cf1d70ae</string>
	<key>DATABASE_URL</key>
	<string>https://populardoctor-f4673.firebaseio.com</string>
</dict>
</plist>