<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875995233190-4gvc74glj8pbaa5ennvaqfce7thbsd2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875995233190-4gvc74glj8pbaa5ennvaqfce7thbsd2j</string>
	<key>API_KEY</key>
	<string>AIzaSyB6xETgBnSehVEmEnyzwlOSuLmkTHtK-r4</string>
	<key>GCM_SENDER_ID</key>
	<string>875995233190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.populardoctor.india</string>
	<key>PROJECT_ID</key>
	<string>popular-doctor</string>
	<key>STORAGE_BUCKET</key>
	<string>popular-doctor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875995233190:ios:024a261b97ea2cbf</string>
	<key>DATABASE_URL</key>
	<string>https://popular-doctor.firebaseio.com</string>
</dict>
</plist>